# --- MINECRAFT DOCKER SPECIFIC ---
# Ignorar las carpetas donde se guardan los datos reales
# El '/' inicial asegura que solo se ignore la carpeta en la raíz
/data/
/backups/
/proxy/
/uptime-kuma/

# Ignorar archivos de configuración sensibles (tokens, claves, contraseñas)
.env

# Ignorar archivos temporales de Minecraft y carpetas de caché
/data/mc/logs/
/data/mc/world/
/data/mc/debug/
/data/mc/usercache.json
/data/mc/usernamecache.json

# --- SYSTEM FILES ---
.DS_Store
Thumbs.db
