services:
  # --- SERVIDOR DE MINECRAFT ---
  mc:
    image: itzg/minecraft-server:latest
    container_name: mc-server
    tty: true
    stdin_open: true
    restart: unless-stopped
    ports:
      - "25565:25565" # Puerto por defecto de Minecraft
    environment:
      EULA: "TRUE"
      TZ: ${TIMEZONE:-UTC}
      SERVER_NAME: ${SERVER_NAME}
      VERSION: ${MINECRAFT_VERSION}
      TYPE: ${TYPE}
      MEMORY: ${MEMORY}
      
      # Integración con Modpacks
      CF_API_KEY: ${CF_API_KEY}
      CF_PAGE_URL: ${CF_PAGE_URL}
      MODRINTH_MODPACK: ${MODRINTH_MODPACK}
      MODPACK: ${MODPACK}
      
      # Ajustes de juego
      MOTD: ${MOTD}
      ICON: ${ICON}
      MAX_PLAYERS: ${MAX_PLAYERS}
      DIFFICULTY: ${DIFFICULTY}
      
      # Optimizaciones
      ENABLE_AUTOPAUSE: "TRUE" 
      ENABLE_ROLLING_LOGS: "TRUE"
    volumes:
      - ./data:/data

  # --- VISOR DE LOGS (Dozzle) ---
  # Accede vía web para ver qué pasa en la consola sin entrar a SSH
  log-viewer:
    image: amir20/dozzle:latest
    container_name: mc-logs
    restart: unless-stopped
    ports:
      - "8888:8080" # Cambia 8888 por el puerto que quieras
    environment:
      - DOZZLE_FILTER=name=mc-server
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  # --- PANEL DE ESTADO (Uptime Kuma) ---
  # Para monitorear si el servidor está online y ver estadísticas
  status-page:
    image: louislam/uptime-kuma:1
    container_name: mc-status
    restart: unless-stopped
    ports:
      - "3001:3001"
    volumes:
      - ./data/uptime-kuma:/app/data

  # --- GESTOR DE DOMINIOS (Nginx Proxy Manager) ---
  # Para usar dominios tipo "mc.tudominio.com" con SSL
  proxy-manager:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: mc-proxy
    restart: unless-stopped
    ports:
      - '80:80'   # HTTP
      - '81:81'   # Panel de control de Nginx
      - '443:443' # HTTPS
    volumes:
      - ./data/proxy:/data
      - ./data/letsencrypt:/etc/letsencrypt
